<div class="footer">
    <h3>Connect with Me</h3>
    <h6>I’m always open to discussing new projects, creative ideas, or opportunities.</h6>
    <div class="footer-links">
        <a href="https://msjahid.me/" target="_blank">Portfolio</a>
        <span>|</span>
        <a href="https://medium.com/@msjahid" target="_blank">Medium</a>
        <span>|</span>
        <a href="https://kaggle.com/msjahid" target="_blank">Kaggle</a>
        <span>|</span>
        <a href="https://www.linkedin.com/in/msjahid" target="_blank">LinkedIn</a>
    </div>
    <small>Built with ♥ using RMarkdown.</small>
</div>